.progressBar {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  padding-top: 44px;
}

.starred-users {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 44px;
  overflow: hidden;
}

.starred-users .starred-users::-webkit-scrollbar {
  display: none;
}

.starred-users .starred-user-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto 0 auto;
  height: 100%;
  border: 0 solid;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .progressBar {
    padding-top: 44px;
  }

  .starred-users {
    width: 100%;
    height: 100%;
    padding-top: 22px;
    overflow: hidden;
  }

  .starred-users .starred-users::-webkit-scrollbar {
    display: none;
  }

  .starred-users .starred-user-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto 0 auto;
    border: 0 solid;
  }
}

/* iPads, Tablets. */

@media screen and (min-width: 481px) and (max-width: 768px) {
  .progressBar {
    padding-top: 44px;
  }

  .starred-users {
    width: 100%;
    height: 100%;
    padding-top: 22px;
    overflow: hidden;
  }

  .starred-users .starred-users::-webkit-scrollbar {
    display: none;
  }

  .starred-users .starred-user-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto 0 auto;
    border: 0 solid;
  }
}

/* Small screens, laptops. */

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .progressBar {
    padding-top: 44px;
  }

  .starred-users {
    width: 100%;
    height: 100%;
    padding-top: 22px;
    overflow: hidden;
  }

  .starred-users .starred-users::-webkit-scrollbar {
    display: none;
  }

  .starred-users .starred-user-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto 0 auto;
    border: 0 solid;
  }
}
